test/logicapp-webhook-noloop.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-Webhook"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "workspaceId": "5b9c5252-9f87-4414-bdf8-ec380894c24c",
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/sentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workspaceId": {
              "type": "String"
            },
            "workspaceKey": {
              "type": "SecureString"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "actions": {
            "Set_timestamp": {
              "runAfter": {},
              "type": "Compose",
              "inputs": "@formatDateTime(utcNow(), 'r')"
            },
            "Set_body_string": {
              "runAfter": {
                "Set_timestamp": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@string(triggerBody())"
            },
            "Set_content_length": {
              "runAfter": {
                "Set_body_string": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@length(outputs('Set_body_string'))"
            },
            "Set_signature_string": {
              "runAfter": {
                "Set_content_length": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@concat('POST\n', outputs('Set_content_length'), '\napplication/json\nx-ms-date:', outputs('Set_timestamp'), '\n/api/logs')"
            },
            "Set_authorization": {
              "runAfter": {
                "Set_signature_string": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@concat('SharedKey ', parameters('workspaceId'), ':', base64(hmac('SHA256', outputs('Set_signature_string'), base64(parameters('workspaceKey')))))"
            },
            "Send_to_Log_Analytics": {
              "runAfter": {
                "Set_authorization": ["Succeeded"]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat('https://', parameters('workspaceId'), '.ods.opinsights.azure.com/api/logs?api-version=2016-04-01')}",
                "headers": {
                  "Content-Type": "application/json",
                  "Log-Type": "ComplianceReports",
                  "x-ms-date": "@{outputs('Set_timestamp')}",
                  "Authorization": "@{outputs('Set_authorization')}"
                },
                "body": "@triggerBody()"
              }
            },
            "Response": {
              "runAfter": {},
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 202,
                "body": {
                  "status": "accepted",
                  "message": "Data queued for processing"
                }
              }
            }
          }
        },
        "parameters": {
          "workspaceId": {
            "value": "[variables('workspaceId')]"
          },
          "workspaceKey": {
            "value": "[listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey]"
          }
        }
      }
    }
  ],
  "outputs": {
    "webhookUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2019-05-01').value]"
    }
  }
}
