test/logicapp-webhook-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-Webhook"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "workspaceId": "5b9c5252-9f87-4414-bdf8-ec380894c24c",
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/sentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TimeGenerated": {"type": "string"},
                      "ReportType": {"type": "string"},
                      "ReportName": {"type": "string"},
                      "ControlID": {"type": "string"},
                      "Framework": {"type": "string"},
                      "QueryDomain": {"type": "string"},
                      "Severity": {"type": "string"},
                      "FindingType": {"type": "string"},
                      "RemediationRequired": {"type": "string"},
                      "Status": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "For_each_result": {
              "foreach": "@triggerBody()",
              "actions": {
                "Send_to_Log_Analytics": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://5b9c5252-9f87-4414-bdf8-ec380894c24c.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports",
                      "x-ms-date": "@{formatDateTime(utcNow(), 'r')}"
                    },
                    "body": "@items('For_each_result')",
                    "authentication": {
                      "type": "Raw",
                      "value": "[concat('SharedKey 5b9c5252-9f87-4414-bdf8-ec380894c24c:@{base64(hmac(''SHA256'', concat(''POST\\n'', string(length(string(items(''For_each_result'')))), ''\\napplication/json\\nx-ms-date:'', formatDateTime(utcNow(), ''r''), ''\\n/api/logs''), base64(''', listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey, ''')))}')]"
                    }
                  }
                }
              },
              "runAfter": {},
              "type": "Foreach"
            },
            "Response": {
              "runAfter": {
                "For_each_result": ["Succeeded"]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "status": "success",
                  "recordsProcessed": "@length(triggerBody())"
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "webhookUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2019-05-01').value]"
    }
  }
}
