test/logicapp-test-single.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-SingleTest"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "workspaceName": {
      "type": "string",
      "defaultValue": "sentinel",
      "metadata": {
        "description": "Name of your Log Analytics workspace"
      }
    },
    "workspaceId": {
      "type": "string",
      "metadata": {
        "description": "Your Log Analytics workspace ID (GUID)"
      }
    }
  },
  "variables": {
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'))]",
    "azureLogAnalyticsConnectionName": "azureloganalyticsdatacollector-test"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureLogAnalyticsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Log Analytics Data Collector - Test",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
        },
        "parameterValues": {
          "username": "[parameters('workspaceId')]",
          "password": "[listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "Simulate_Copilot_Response": {
              "runAfter": {},
              "type": "Compose",
              "inputs": {
                "evaluationResultContent": "```json\n[{\"TimeGenerated\":\"2025-11-02T17:30:00.0000000Z\",\"Technique\":\"N/A\",\"Tactics\":\"N/A\",\"AlertCount\":0,\"FirstSeen\":\"2025-11-02T17:30:00.0000000Z\",\"LastSeen\":\"2025-11-02T17:30:00.0000000Z\",\"Severities\":\"[]\",\"AffectedEntities\":\"[]\",\"Severity\":\"Informational\",\"ControlID\":\"RS.AN-01|SI-4\",\"Framework\":\"NIST CSF 2.0|NIST 800-53\",\"QueryDomain\":\"threat\",\"ReportType\":\"Threat\",\"ReportName\":\"SingleTestReport\",\"FindingType\":\"No Findings\",\"RemediationRequired\":\"No\",\"Status\":\"Completed\"}]\n```\n"
              }
            },
            "Extract_JSON_from_Markdown": {
              "runAfter": {
                "Simulate_Copilot_Response": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@replace(replace(replace(outputs('Simulate_Copilot_Response')?['evaluationResultContent'], '```json', ''), '```', ''), '\n\n', '')"
            },
            "Parse_JSON_Results": {
              "runAfter": {
                "Extract_JSON_from_Markdown": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@trim(outputs('Extract_JSON_from_Markdown'))",
                "schema": {
                  "type": "array"
                }
              }
            },
            "Send_Data": {
              "runAfter": {
                "Parse_JSON_Results": ["Succeeded"]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@{string(body('Parse_JSON_Results'))}",
                "headers": {
                  "Log-Type": "ComplianceReports"
                },
                "path": "/api/logs"
              }
            },
            "Response": {
              "runAfter": {
                "Send_Data": ["Succeeded", "Failed"]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "status": "completed",
                  "sendDataOutput": "@outputs('Send_Data')"
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureloganalyticsdatacollector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]",
                "connectionName": "[variables('azureLogAnalyticsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "triggerUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2019-05-01').value]"
    }
  }
}
