test/logicapp-webhook-test.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-Webhook-Test"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "Compose_Test_Data": {
              "runAfter": {},
              "type": "Compose",
              "inputs": [
                {
                  "TimeGenerated": "2025-11-02T16:23:51.6581837Z",
                  "Technique": "N/A",
                  "Tactics": "N/A",
                  "AlertCount": 0,
                  "FirstSeen": "2025-11-02T16:23:51.6581837Z",
                  "LastSeen": "2025-11-02T16:23:51.6581837Z",
                  "Severities": "[]",
                  "AffectedEntities": "[]",
                  "Severity": "Informational",
                  "ControlID": "RS.AN-01|SI-4",
                  "Framework": "NIST CSF 2.0|NIST 800-53",
                  "QueryDomain": "threat",
                  "ReportType": "Threat",
                  "ReportName": "MITREAttackReport",
                  "FindingType": "No Findings",
                  "RemediationRequired": "No",
                  "Status": "Completed"
                }
              ]
            },
            "Send_to_Webhook": {
              "runAfter": {
                "Compose_Test_Data": ["Succeeded"]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://prod-25.northcentralus.logic.azure.com:443/workflows/6f4141e16b6c413d87085b991733528b/triggers/manual/paths/invoke?api-version=2019-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1QVZ4btcsy5-Jw4AUC_EXdvNKx_r7JAvNOf4BTquP_I",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": "@outputs('Compose_Test_Data')"
              }
            },
            "Response": {
              "runAfter": {
                "Send_to_Webhook": ["Succeeded"]
              },
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "message": "Test data sent successfully",
                  "webhookResponse": "@body('Send_to_Webhook')"
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "triggerUrl": {
      "type": "string",
      "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/manual'), '2019-05-01').value]"
    }
  }
}
