logicapp-simple-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "kqlQuery": {
      "type": "string"
    },
    "reportName": {
      "type": "string"
    },
    "reportType": {
      "type": "string"
    },
    "controlID": {
      "type": "string"
    },
    "framework": {
      "type": "string"
    },
    "queryDomain": {
      "type": "string"
    },
    "workspaceResourceId": {
      "type": "string"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "azureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('logicAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs Connection",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_KQL_Query": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "[parameters('kqlQuery')]",
                "path": "/queryData",
                "queries": {
                  "resourceId": "[parameters('workspaceResourceId')]",
                  "timerange": "Set in query"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Run_KQL_Query": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Run_KQL_Query')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array"
                    }
                  }
                }
              }
            },
            "For_Each_Result": {
              "foreach": "@body('Parse_JSON')?['value']",
              "actions": {
                "Compose_Record": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": {
                    "TimeGenerated": "@{utcNow()}",
                    "ReportType": "[parameters('reportType')]",
                    "ReportName": "[parameters('reportName')]",
                    "ControlID": "[parameters('controlID')]",
                    "Framework": "[parameters('framework')]",
                    "QueryDomain": "[parameters('queryDomain')]",
                    "Severity": "@{coalesce(items('For_Each_Result')?['Severity'], 'Medium')}",
                    "FindingType": "@{coalesce(items('For_Each_Result')?['FindingType'], 'Security Finding')}",
                    "RemediationRequired": "@{coalesce(items('For_Each_Result')?['RemediationRequired'], 'Review')}",
                    "Status": "New",
                    "UserPrincipalName": "@{items('For_Each_Result')?['UserPrincipalName']}",
                    "CompromisedEntity": "@{items('For_Each_Result')?['CompromisedEntity']}",
                    "AlertName": "@{items('For_Each_Result')?['AlertName']}",
                    "Count": "@{items('For_Each_Result')?['FailedAttempts']}",
                    "RawData": "@{items('For_Each_Result')}"
                  }
                },
                "Send_Data": {
                  "runAfter": {
                    "Compose_Record": ["Succeeded"]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": "@{outputs('Compose_Record')}",
                    "headers": {
                      "Log-Type": "ComplianceReports"
                    },
                    "path": "/api/logs"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": ["Succeeded"]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
