logicapp-pure-http.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "kqlQuery": {
      "type": "string"
    },
    "reportName": {
      "type": "string"
    },
    "reportType": {
      "type": "string"
    },
    "controlID": {
      "type": "string"
    },
    "framework": {
      "type": "string"
    },
    "queryDomain": {
      "type": "string"
    },
    "workspaceId": {
      "type": "string"
    },
    "workspaceKey": {
      "type": "securestring"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workspaceId": {
              "defaultValue": "[parameters('workspaceId')]",
              "type": "String"
            },
            "workspaceKey": {
              "defaultValue": "[parameters('workspaceKey')]",
              "type": "SecureString"
            },
            "kqlQuery": {
              "defaultValue": "[parameters('kqlQuery')]",
              "type": "String"
            },
            "reportName": {
              "defaultValue": "[parameters('reportName')]",
              "type": "String"
            },
            "reportType": {
              "defaultValue": "[parameters('reportType')]",
              "type": "String"
            },
            "controlID": {
              "defaultValue": "[parameters('controlID')]",
              "type": "String"
            },
            "framework": {
              "defaultValue": "[parameters('framework')]",
              "type": "String"
            },
            "queryDomain": {
              "defaultValue": "[parameters('queryDomain')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Get_Access_Token": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://api.loganalytics.io",
                "headers": {
                  "Metadata": "true"
                }
              }
            },
            "Parse_Token": {
              "runAfter": {
                "Get_Access_Token": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Access_Token')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Run_KQL_Query": {
              "runAfter": {
                "Parse_Token": ["Succeeded"]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.loganalytics.io/v1/workspaces/@{parameters('workspaceId')}/query",
                "headers": {
                  "Authorization": "Bearer @{body('Parse_Token')?['access_token']}",
                  "Content-Type": "application/json"
                },
                "body": {
                  "query": "@{parameters('kqlQuery')}"
                }
              }
            },
            "Parse_Query_Results": {
              "runAfter": {
                "Run_KQL_Query": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Run_KQL_Query')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "tables": {
                      "type": "array"
                    }
                  }
                }
              }
            },
            "Initialize_Records": {
              "runAfter": {
                "Parse_Query_Results": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Records",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Check_If_Results_Exist": {
              "actions": {
                "For_Each_Row": {
                  "foreach": "@body('Parse_Query_Results')?['tables'][0]['rows']",
                  "actions": {
                    "Append_Record": {
                      "runAfter": {},
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "Records",
                        "value": {
                          "TimeGenerated": "@{utcNow()}",
                          "ReportType": "@{parameters('reportType')}",
                          "ReportName": "@{parameters('reportName')}",
                          "ControlID": "@{parameters('controlID')}",
                          "Framework": "@{parameters('framework')}",
                          "QueryDomain": "@{parameters('queryDomain')}",
                          "Severity": "@{coalesce(items('For_Each_Row')[4], 'Medium')}",
                          "FindingType": "@{coalesce(items('For_Each_Row')[5], 'Security Finding')}",
                          "RemediationRequired": "@{coalesce(items('For_Each_Row')[6], 'Review')}",
                          "Status": "New",
                          "UserPrincipalName": "@{items('For_Each_Row')[0]}",
                          "Count": "@{items('For_Each_Row')[1]}",
                          "FirstSeen": "@{items('For_Each_Row')[2]}",
                          "LastSeen": "@{items('For_Each_Row')[3]}",
                          "RawData": "@{items('For_Each_Row')}"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach"
                },
                "Send_To_Log_Analytics": {
                  "runAfter": {
                    "For_Each_Row": ["Succeeded"]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('workspaceId')}.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports",
                      "x-ms-date": "@{utcNow('r')}"
                    },
                    "body": "@variables('Records')",
                    "authentication": {
                      "type": "Raw",
                      "value": "SharedKey @{parameters('workspaceId')}:@{base64(hmac('SHA256', concat('POST\n', string(length(string(variables('Records')))), '\napplication/json\nx-ms-date:', utcNow('r'), '\n/api/logs'), base64(parameters('workspaceKey'))))}"
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_Records": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Parse_Query_Results')?['tables'][0]['rows'])",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "principalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}
