logicapp-scheduled-mitre.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-MITRE"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "azureMonitorLogsConnectionName": "azuremonitorlogs-mitre",
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/sentinel')]",
    "workspaceId": "5b9c5252-9f87-4414-bdf8-ec380894c24c"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs - MITRE",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_MITRE_Attack_Query": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "let timeRange = 24h;\nlet findings = SecurityAlert\n| where TimeGenerated > ago(timeRange)\n| where isnotempty(Techniques)\n| extend TechniquesList = parse_json(Techniques)\n| mv-expand Technique = TechniquesList\n| summarize AlertCount = count(), AlertNames = make_set(AlertName),\n    AffectedEntities = make_set(CompromisedEntity), FirstSeen = min(TimeGenerated),\n    LastSeen = max(TimeGenerated), Severities = make_set(AlertSeverity)\n    by tostring(Technique), Tactics\n| extend\n    TimeGenerated = now(),\n    Severity = case(Severities has \"Critical\", \"Critical\", Severities has \"High\", \"High\", \"Medium\"),\n    ControlID = \"RS.AN-01|SI-4\",\n    Framework = \"NIST CSF 2.0|NIST 800-53\",\n    QueryDomain = \"threat\",\n    ReportType = \"Threat\",\n    ReportName = \"MITREAttackReport\",\n    FindingType = \"MITRE ATT&CK Activity\",\n    RemediationRequired = \"Review\",\n    Status = \"New\"\n| project TimeGenerated, Technique, Tactics, AlertCount, FirstSeen, LastSeen,\n    Severities, AffectedEntities, Severity, ControlID, Framework, QueryDomain,\n    ReportType, ReportName, FindingType, RemediationRequired, Status;\nlet hasResults = toscalar(findings | count) > 0;\nunion findings,\n(print placeholder = 1\n| where not(hasResults)\n| extend\n    TimeGenerated = now(),\n    Technique = \"N/A\",\n    Tactics = \"N/A\",\n    AlertCount = 0,\n    FirstSeen = now(),\n    LastSeen = now(),\n    Severities = dynamic([]),\n    AffectedEntities = dynamic([]),\n    Severity = \"Informational\",\n    ControlID = \"RS.AN-01|SI-4\",\n    Framework = \"NIST CSF 2.0|NIST 800-53\",\n    QueryDomain = \"threat\",\n    ReportType = \"Threat\",\n    ReportName = \"MITREAttackReport\",\n    FindingType = \"No Findings\",\n    RemediationRequired = \"No\",\n    Status = \"Completed\"\n| project-away placeholder)",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "[subscription().subscriptionId]",
                  "resourcegroups": "[resourceGroup().name]",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "sentinel",
                  "timerange": "Set in query"
                }
              }
            },
            "For_each_result": {
              "foreach": "@body('Run_MITRE_Attack_Query')?['value']",
              "actions": {
                "Send_to_ComplianceReports": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://5b9c5252-9f87-4414-bdf8-ec380894c24c.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports",
                      "x-ms-date": "@{formatDateTime(utcNow(), 'r')}"
                    },
                    "body": "@items('For_each_result')",
                    "authentication": {
                      "type": "Raw",
                      "value": "[concat('SharedKey 5b9c5252-9f87-4414-bdf8-ec380894c24c:@{base64(hmac(''SHA256'', concat(''POST\\n'', string(length(string(items(''For_each_result'')))), ''\\napplication/json\\nx-ms-date:'', formatDateTime(utcNow(), ''r''), ''\\n/api/logs''), base64(''', listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey, ''')))}')]"
                    }
                  }
                }
              },
              "runAfter": {
                "Run_MITRE_Attack_Query": ["Succeeded"]
              },
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
