logicapp-working-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-FailedAuth"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "azureMonitorLogsConnectionName": "azuremonitorlogs",
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/sentinel')]",
    "workspaceId": "5b9c5252-9f87-4414-bdf8-ec380894c24c"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_query_and_list_results": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "let timeRange = 24h;\nSigninLogs\n| where TimeGenerated > ago(timeRange)\n| where ResultType != 0\n| summarize\n    FailedAttempts = count(),\n    FirstAttempt = min(TimeGenerated),\n    LastAttempt = max(TimeGenerated)\n    by UserPrincipalName\n| where FailedAttempts >= 5\n| extend\n    Severity = case(FailedAttempts >= 20, \"Critical\", FailedAttempts >= 10, \"High\", \"Medium\"),\n    FindingType = \"Failed Authentication\",\n    RemediationRequired = iff(FailedAttempts >= 10, \"Yes\", \"Review\")",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "[subscription().subscriptionId]",
                  "resourcegroups": "[resourceGroup().name]",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "sentinel",
                  "timerange": "Set in query"
                }
              }
            },
            "For_each": {
              "foreach": "@body('Run_query_and_list_results')?['value']",
              "actions": {
                "HTTP": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://5b9c5252-9f87-4414-bdf8-ec380894c24c.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports"
                    },
                    "body": {
                      "TimeGenerated": "@{utcNow()}",
                      "ReportType": "Identity",
                      "ReportName": "FailedAuthenticationReport",
                      "ControlID": "AC-7|CIS-5.1",
                      "Framework": "NIST 800-53|CIS Controls v8",
                      "QueryDomain": "identity",
                      "Severity": "@{items('For_each')?['Severity']}",
                      "FindingType": "Failed Authentication",
                      "RemediationRequired": "@{items('For_each')?['RemediationRequired']}",
                      "Status": "New",
                      "UserPrincipalName": "@{items('For_each')?['UserPrincipalName']}",
                      "Count": "@{items('For_each')?['FailedAttempts']}",
                      "FirstSeen": "@{items('For_each')?['FirstAttempt']}",
                      "LastSeen": "@{items('For_each')?['LastAttempt']}",
                      "RawData": "@{items('For_each')}"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "SharedKey 5b9c5252-9f87-4414-bdf8-ec380894c24c:[base64(hmac('SHA256', concat('POST\\n', string(length(string(body('HTTP')))), '\\napplication/json\\nx-ms-date:', formatDateTime(utcNow(), 'r'), '\\n/api/logs'), base64('[listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey]')))]"
                    }
                  }
                }
              },
              "runAfter": {
                "Run_query_and_list_results": ["Succeeded"]
              },
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
