logicapp-failedauth-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "FailedAuth-To-CustomTable"
    },
    "workspaceId": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics Workspace ID"
      }
    },
    "workspaceKey": {
      "type": "securestring",
      "metadata": {
        "description": "Log Analytics Workspace Primary Key"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "azureMonitorLogsConnectionName": "azuremonitorlogs-failedauth"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs - FailedAuth",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workspaceId": {
              "defaultValue": "[parameters('workspaceId')]",
              "type": "String"
            },
            "workspaceKey": {
              "defaultValue": "[parameters('workspaceKey')]",
              "type": "SecureString"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "8"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_KQL_Query": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "let timeRange = 24h;\nSigninLogs\n| where TimeGenerated > ago(timeRange)\n| where ResultType != 0\n| summarize\n    FailedAttempts = count(),\n    FirstAttempt = min(TimeGenerated),\n    LastAttempt = max(TimeGenerated),\n    Locations = make_set(Location),\n    IPAddresses = make_set(IPAddress),\n    Applications = make_set(AppDisplayName)\n    by UserPrincipalName, UserDisplayName\n| where FailedAttempts >= 5\n| extend\n    Severity = case(FailedAttempts >= 20, \"Critical\", FailedAttempts >= 10, \"High\", \"Medium\"),\n    FindingType = \"Failed Authentication\",\n    RemediationRequired = iff(FailedAttempts >= 10, \"Yes\", \"Review\")",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "[subscription().subscriptionId]",
                  "resourcegroups": "[resourceGroup().name]",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "sentinel",
                  "timerange": "Set in query"
                }
              }
            },
            "For_Each_Result": {
              "foreach": "@body('Run_KQL_Query')?['value']",
              "actions": {
                "Compose_Custom_Table_Record": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": {
                    "TimeGenerated": "@{utcNow()}",
                    "ReportType": "Identity",
                    "ReportName": "FailedAuthenticationReport",
                    "ControlID": "AC-7|CIS-5.1",
                    "Framework": "NIST 800-53|CIS Controls v8",
                    "Severity": "@{items('For_Each_Result')?['Severity']}",
                    "FindingType": "Failed Authentication",
                    "QueryDomain": "identity",
                    "RemediationRequired": "@{items('For_Each_Result')?['RemediationRequired']}",
                    "Status": "New",
                    "UserPrincipalName": "@{items('For_Each_Result')?['UserPrincipalName']}",
                    "Count": "@{items('For_Each_Result')?['FailedAttempts']}",
                    "FirstSeen": "@{items('For_Each_Result')?['FirstAttempt']}",
                    "LastSeen": "@{items('For_Each_Result')?['LastAttempt']}",
                    "Location": "@{join(items('For_Each_Result')?['Locations'], ';')}",
                    "SourceIP": "@{join(items('For_Each_Result')?['IPAddresses'], ';')}",
                    "Application": "@{join(items('For_Each_Result')?['Applications'], ';')}",
                    "RawData": "@{items('For_Each_Result')}"
                  }
                },
                "Send_Data_to_Log_Analytics": {
                  "runAfter": {
                    "Compose_Custom_Table_Record": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('workspaceId')}.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports",
                      "x-ms-date": "@{utcNow('r')}",
                      "Authorization": "@{concat('SharedKey ', parameters('workspaceId'), ':', base64(concat(concat('POST\n', string(length(string(outputs('Compose_Custom_Table_Record')))), '\napplication/json\nx-ms-date:', utcNow('r'), '\n/api/logs'), parameters('workspaceKey'))))}"
                    },
                    "body": "@outputs('Compose_Custom_Table_Record')"
                  }
                }
              },
              "runAfter": {
                "Run_KQL_Query": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
