logicapp-http-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "kqlQuery": {
      "type": "string"
    },
    "reportName": {
      "type": "string"
    },
    "reportType": {
      "type": "string"
    },
    "controlID": {
      "type": "string"
    },
    "framework": {
      "type": "string"
    },
    "queryDomain": {
      "type": "string"
    },
    "workspaceId": {
      "type": "string"
    },
    "workspaceKey": {
      "type": "securestring"
    },
    "workspaceResourceId": {
      "type": "string"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "azureMonitorLogsConnectionName": "[concat('azuremonitorlogs-', parameters('logicAppName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureMonitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs Connection",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workspaceId": {
              "defaultValue": "[parameters('workspaceId')]",
              "type": "String"
            },
            "workspaceKey": {
              "defaultValue": "[parameters('workspaceKey')]",
              "type": "SecureString"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "evaluatedRecurrence": {
                "frequency": "Day",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_KQL_Query": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "body": "[parameters('kqlQuery')]",
                "path": "/queryData",
                "queries": {
                  "resourceId": "[parameters('workspaceResourceId')]",
                  "timerange": "Set in query"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Run_KQL_Query": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Run_KQL_Query')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array"
                    }
                  }
                }
              }
            },
            "Initialize_Records_Array": {
              "runAfter": {
                "Parse_JSON": ["Succeeded"]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Records",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "For_Each_Result": {
              "foreach": "@body('Parse_JSON')?['value']",
              "actions": {
                "Append_Record": {
                  "runAfter": {},
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "Records",
                    "value": {
                      "TimeGenerated": "@{utcNow()}",
                      "ReportType": "[parameters('reportType')]",
                      "ReportName": "[parameters('reportName')]",
                      "ControlID": "[parameters('controlID')]",
                      "Framework": "[parameters('framework')]",
                      "QueryDomain": "[parameters('queryDomain')]",
                      "Severity": "@{coalesce(items('For_Each_Result')?['Severity'], 'Medium')}",
                      "FindingType": "@{coalesce(items('For_Each_Result')?['FindingType'], 'Security Finding')}",
                      "RemediationRequired": "@{coalesce(items('For_Each_Result')?['RemediationRequired'], 'Review')}",
                      "Status": "New",
                      "UserPrincipalName": "@{items('For_Each_Result')?['UserPrincipalName']}",
                      "CompromisedEntity": "@{items('For_Each_Result')?['CompromisedEntity']}",
                      "AlertName": "@{items('For_Each_Result')?['AlertName']}",
                      "SourceIP": "@{items('For_Each_Result')?['IPAddress']}",
                      "Count": "@{items('For_Each_Result')?['FailedAttempts']}",
                      "FirstSeen": "@{items('For_Each_Result')?['FirstAttempt']}",
                      "LastSeen": "@{items('For_Each_Result')?['LastAttempt']}",
                      "RawData": "@{items('For_Each_Result')}"
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_Records_Array": ["Succeeded"]
              },
              "type": "Foreach"
            },
            "Condition_Check_Records": {
              "actions": {
                "Send_To_Log_Analytics": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('workspaceId')}.ods.opinsights.azure.com/api/logs?api-version=2016-04-01",
                    "headers": {
                      "Content-Type": "application/json",
                      "Log-Type": "ComplianceReports",
                      "x-ms-date": "@{utcNow('r')}",
                      "Authorization": "@{concat('SharedKey ', parameters('workspaceId'), ':', base64(hmac('SHA256', concat('POST\n', string(length(string(variables('Records')))), '\napplication/json\nx-ms-date:', utcNow('r'), '\n/api/logs'), base64(parameters('workspaceKey')))))}"
                    },
                    "body": "@variables('Records')"
                  }
                }
              },
              "runAfter": {
                "For_Each_Result": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Records'))",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
