prod/logicapp-copilot-failedauth.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "ComplianceReports-FailedAuth-Copilot"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "workspaceName": {
      "type": "string",
      "defaultValue": "sentinel",
      "metadata": {
        "description": "Name of your Log Analytics workspace"
      }
    },
    "workspaceId": {
      "type": "string",
      "metadata": {
        "description": "Your Log Analytics workspace ID (GUID)"
      }
    }
  },
  "variables": {
    "securityCopilotConnectionName": "securitycopilot-failedauth",
    "azureLogAnalyticsConnectionName": "azureloganalyticsdatacollector-copilot",
    "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('securityCopilotConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Security Copilot - Failed Auth",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('azureLogAnalyticsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Log Analytics Data Collector - Copilot",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
        },
        "parameterValues": {
          "username": "[parameters('workspaceId')]",
          "password": "[listKeys(variables('workspaceResourceId'), '2020-08-01').primarySharedKey]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('securityCopilotConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": ["8"],
                  "minutes": [0]
                },
                "timeZone": "UTC"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Run_Copilot_FailedAuth_Report": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/process-prompt",
                "body": {
                  "PromptContent": "Using the Compliance&SecOpsAutomatedReportingAgent custom agent, execute the MitreAttackReport KQL skill and return only the raw JSON results from the query without any additional text or formatting"
                }
              }
            },
            "Extract_JSON_from_Markdown": {
              "runAfter": {
                "Run_Copilot_FailedAuth_Report": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@replace(replace(replace(body('Run_Copilot_FailedAuth_Report')?['evaluationResultContent'], '```json', ''), '```', ''), '\n\n', '')"
            },
            "Parse_JSON_Results": {
              "runAfter": {
                "Extract_JSON_from_Markdown": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@trim(outputs('Extract_JSON_from_Markdown'))",
                "schema": {
                  "type": "array"
                }
              }
            },
            "Send_Data": {
              "runAfter": {
                "Parse_JSON_Results": ["Succeeded"]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@{string(body('Parse_JSON_Results'))}",
                "headers": {
                  "Log-Type": "ComplianceReports"
                },
                "path": "/api/logs"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "securitycopilot": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('securityCopilotConnectionName'))]",
                "connectionName": "[variables('securityCopilotConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]"
              },
              "azureloganalyticsdatacollector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureLogAnalyticsConnectionName'))]",
                "connectionName": "[variables('azureLogAnalyticsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
